{% extends "base.html" %}

{% block page %}
{% load static %}
    <section class="section section-padded">
      <div class="container-fluid">
        <div class="section-header">
          <h1>
            <small class="light">SQL TIME!</small>
          </h1>
        </div>
        <p class="lead text-center">
          {{ question.description_html|safe }}
        </p>
        <hr />
        <div class="row-fluid">
          <div class="span8">
              <form class="contact-form">
                <input type="hidden" id="testid" value="{{ testid }}"/>
                <input type="hidden" id="queid" value="{{ question.id }}"/>
                <div class="controls controls-row">
                  <div class="control-group span12">
                      <div class="answers">
                          <p class="user-hint">Варианты ответа</p>
                          <ul id="sortableAnswers" class="connectedSortable">
                              {% for answer in answers %}
                              <li class="answer-li" data-id="{{ answer.id }}">{{ answer.text }}</li>
                              {% endfor %}
                          </ul>
                      </div>
                      <div class="user-answers">
                          <p class="user-hint">Перетащи колонки сюда в порядке их задания в индексе</p>
                          <ul id="sortableUserAnswers" class="connectedSortable">
                          </ul>
                      </div>
                  </div>
                </div>
                <div class="controls controls-row">
                  <div class="control-group span12">
                    <button id="ajax-send-answers" class="btn btn-primary" name="submitButton" type="submit">
                      Отправить ответ
                    </button>

                  </div>
                </div>
              </form>
          </div>
          <div class="span4 contact-details">
            <ul class="icons">
                <h5>
                    Все запросы логируются
                </h5>
                <p>
                    на сервере.
                </p>

                <h5 style="margin-top: 18%">
                    Будьте бдительными
                </h5>
                <p>
                    и следи за соседом.
                </p>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="messages"></div>
  <script>
  $(function() {
    $( "#sortableAnswers, #sortableUserAnswers" ).sortable({
      connectWith: ".connectedSortable"
    }).disableSelection();
  });
  </script>
{% endblock %}



















